.tuni{
    text-align: center;
    color: white;
}
.Bgform{
    background-color: #4c90f6!important;
    border-radius: 1px;
}
.Btnext{
    color: #3d96fb;
    border-color: #FFF;
    max-width: 230px;
    margin: 0 auto;
    background: white;
}
.{
    background-color: #4c90f6!important;
}
.HeadercloseButton{
    background-color: #4c90f6!important;

}